{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div class="row">
  <h1>Вот что я умею</h1>
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Python - довольно просто и интересный язык
      </li>
      <li class="list-group-item">
        Django - тут конечно всё сложнее, но не менее круто)
      </li>
    </ul>
  </aside>
  <article class="col-12 col-md-9">
    <p>сложно, мощно, хорошо)</p>
  </article>
</div>
{% endblock %}